body {
    margin: 0 0 0 0;
}

header {
    background-color: #4af3ff;
    height: 70px;
}

#page-name {
    height: 100%;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-left: 1vw;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

#page-name:hover {
    color: #a8f9ff;
}

.image-text {
    position: relative;
}

#page-title {
    color: #ffffffc5;
    font-size: 10vh;
    position: absolute;
    display: block;
    margin: 0 0 0 30px;
    bottom: 35%;
}

#top-image {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(75%);
}

#twitter-container {
    margin: 0 auto 0 auto;
    width: 60vw;
}

footer {
    margin-top: 100px;
    background-color: #636363;
}