<!DOCTYPE html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Haroyan's Page</title>
</head>

<body>
    <header>
            <a href="/" id="header-home">はろやんのページ</a>
    </header>
    <div class="image-container">
            <img id="top-image" src="img/hachimanbori.jpg">
            <h2 class="image-text">はろやんのページ</h2>
    </div>

    <div class="flex-contents">
        <div>
            <div class="block-item">
                <h2 class="block-title">自己紹介</h2>
                <div class="block-body" id="intro-body">
                    <ul class="list-block" id="intro-list">
                        <li class="list-content">大学：大阪電気通信大学</li>
                        <li class="list-content">学科：情報工学科</li>
                        <li class="list-content">学年：２年生</li>
                        <li class="list-content">趣味：プログラム・歌</li>
                    </ul>
                </div>
            </div>
        
            <div class="block-item">
                <h2 class="block-title">使用言語・環境</h2>
                <div class="block-body" id="useLangEnv-body">
                    <ul class="list-block">
                        <li>C言語</li>
                        <li>Python（Flask・SQLAlchemy）</li>
                        <li>HTML・CSS</li>
                        <li>JavaScript（Node-express・AR.js）</li>
                        <li>Unity</li>
                        <li>C#</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div id="twitter-item">
            <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/haronomokuba?ref_src=twsrc%5Etfw">Tweets by haronomokuba</a>
        </div>
        
    </div>

    
    <footer>©はろやんのページ 2023 -</footer>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>